<h2>{{infoPagina.titulo}}</h2>
<p>{{infoPagina.info}}</p>
<p>hijo > {{hijo}}</p>
<p>inputInfo > {{inputInfo|json}}</p>
<p>instituciones > {{instituciones|json}}</p>

<div *ngIf="curso">
    sep
</div>
<div *ngIf="!curso">
    Nop
</div>


<div class="cargandoPanel" *ngIf="cargaInfo.cargando">
    <div>
        <i class="bi bi-clock-fill"></i>
        <h4>{{cargaInfo.titulo}}</h4>
        <p>{{cargaInfo.detalle}}</p>
        <p>{{cargaInfo.cargando}}</p>
    </div>

    <!-- <p>{{curso}}</p> -->
</div>

<div class="row">
    <div class="col-12">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn bg-dark btn-block text-light" (click)="clickIrAlListado()">Ir a listado</button>
        </div>
    </div>
</div>





<div *ngIf="modo ==='EDITAR' || modo ==='CREAR'">
    <hr>
    <form class="mt-3 col-md-8 offset-md-2 formulario" [formGroup]="formularioCurso">
        <div class="row">

            <div class="col-12 col-md-6">
                <div>
                    <mat-form-field class="example-form-field">
                      <mat-label>Organismo / institución</mat-label>
                      <mat-select formControlName="institucion" placeholder="Institución">
                        <mat-option *ngFor="let establecimiento of instituciones" [value]="establecimiento.id"
                          (click)="formularioClickOpcion('ESTABLECIMIENTO', establecimiento)">
                          {{establecimiento.nombre}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-form-field">
                      <mat-label>Tipo de curso</mat-label>
                      <mat-select formControlName="tipo_curso" placeholder="Tipo">
                        <mat-option *ngFor="let tipoCurso of tipoCursos" [value]="tipoCurso.id">
                          {{tipoCurso.nombre}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>

            </div>
            <div class="col-12 col-md-6">
                <div>
                    <mat-form-field class="example-form-field">
                        <mat-label>Nombre del curso</mat-label>
                        <input matInput type="text" formControlName="nombre">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-form-field">
                        <mat-label>Nivel</mat-label>
                        <input matInput type="text" formControlName="nivel">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-form-field">
                        <mat-label>Division del curso</mat-label>
                        <input matInput type="text" formControlName="division">
                    </mat-form-field>
                </div>
            </div>
            
        </div>
        
        <hr>
        <div class="row">
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button *ngIf="(modo === 'EDITAR')" (click)="modificar()" class="btn bg-dark btn-block text-light">Modificar</button>
            <button *ngIf="(modo === 'CREAR')" (click)="guardar()" class="btn bg-dark btn-block text-light">Guardar</button>
        </div>
        
        
    </form>
</div>

