.contenedor{
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100px;
    justify-content: center;
}
.contenedor > .info{
    position: relative;
    display: flex;
    align-self: center;
}