<!--The content below is only a placeholder and can be replaced.-->
<div class="preload" *ngIf="infoPreload.cargando">
  <div class="preloadInfo">
    cargando info
    <p>cargando info</p>
  </div>
  </div>
<header>

  <div class="container">
    <flasis-c-i-pagina-header></flasis-c-i-pagina-header>
  </div>

</header>

<main>
  <div class="container">
    
    <router-outlet></router-outlet>

  </div>
</main>

<footer>

  <div class="container">
    <div class="row">
      <div class="col-12">

        <p>el copirigth</p>

      </div>
    </div>
  </div>

</footer>
