<h2>{{titulo}}</h2>

<div *ngIf="(modo ==='EDITAR' || modo ==='CREAR')"><!-- -->
    
    <form class="mt-3 col-md-8 offset-md-2 formulario" [formGroup]="formularioInstitucion">
        
        <div class="row">
            
            <div class="input-group col-12 col-md-6">
                <span class="input-group-text" id="basic-addon2">Nombre</span>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon2" formControlName="nombre" placeholder="Nombre">
            </div>

            <div class="input-group col-6">
                <span class="input-group-text" id="basic-addon3">Descripcion</span>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"  formControlName="descripcion" placeholder="Descripcion">
            </div>
            <div class="input-group col-6">
                <span class="input-group-text" id="basic-addon4">Nivel</span>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon4"  formControlName="nivel" placeholder="Nivel">
            </div>
            <!-- 
                <div class="form-group col-md-4">
                </div>
                <div class="form-group col-md-4">
                </div>
             -->
        </div>
        <!-- 
            nombre: string;
            apellido: string;
            descripcion: number;
            nivel: string;
        -->
        
        <hr>
        <div class="row">
            <!-- <div class="input-group col-6">
                <span class="input-group-text" id="basic-addon5">Curso</span>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon5" formControlName="curso" placeholder="Curso">
            </div>
            <div class="input-group col-6">
                <span class="input-group-text" id="basic-addon6">Colegio/Institucion</span>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon6" formControlName="institucion" placeholder="Curso">
            </div> -->
        </div>
        
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <!-- <button class="btn btn-primary me-md-2" type="button">Button</button> -->
            <button *ngIf="(modo === 'EDITAR')" (click)="modificar()" class="btn bg-dark btn-block text-light">Modificar</button>
            <button *ngIf="(modo === 'CREAR')" (click)="guardar()" class="btn bg-dark btn-block text-light">Guardar</button>
          </div>
    
    
    </form>
</div>
<hr>
<p>{{Institucion|json}}</p>


<!-- Ver    = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =  -->


<div *ngIf="modo === 'VER'">
    
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    {{institucion.nombre}}
                </div>
                <div class="card-body">
                    
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            DNI: <h5>{{institucion.descripcion}}</h5>
                        </li>
                        <li class="list-group-item">
                            Nivel: <h5>{{institucion.nivel}}</h5>
                        </li>                        
                    </ul>
                </div>
            </div>
        </div>
  </div>
  <hr>
  <p>{{institucion|json}}</p>

</div>



<!-- Listado    = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =  -->

<div *ngIf="modo ==='LISTAR'">
    
    <p>Instituciones {{(instituciones$|async)?.length}}.</p>
    <div class="row">
        <div class="col-12">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn bg-dark btn-block text-light" (click)="clickCrear()">Nuevo Institucion</button>
            </div>
        </div>
    </div>
    <hr>

    <div *ngIf="(instituciones$|async)?.length === 0">
        <div class="card">
            <p>no hay instituciones.</p>
        </div>
    </div>

    <div *ngIf="(instituciones$|async)?.length > 0">

          
        <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Nombre</th>
                <!-- <th scope="col">Id</th> -->
                <th scope="col">Descripcion</th>
                <th scope="col">Nivel</th>
                <!-- <th scope="col">Comentarios</th> -->
                <th class="d-none d-sm-block" scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-info" *ngFor="let item of instituciones$ | async">
                <th scope="row">{{ item.nombre}} {{item.apellido}}</th>
                <!-- <td>{{item.id}}</td> -->
                <td>{{item.descripcion}}</td>
                <td>{{item.nivel}}</td>
                <!-- <td>{{item.comentarios}}</td> -->
                <td class="bnt-group d-none d-sm-block" role="group">
                    <button type="button" class="btn btn-outline-warning m-1" (click)="clickEdiar(item)">Editar</button>
                    <button type="button" class="btn btn-outline-warning m-1" (click)="clickVer(item)">Ver</button>
                    <button type="button" class="btn btn-outline-danger m-1" (click)="clickBorrar(item.id)">Borrar</button> 
                    <!-- 
                    -->
                </td>
            </tr>
            </tbody>
        </table>
      
      </div>
    
    </div>
</div>



<div class="row">
    <hr>
    <div class="col-12">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <p>=> {{modo}}</p>
            <p>=> {{modo !== 'LISTAR'}}</p>
            <button *ngIf="(modo != 'LISTAR')" class="btn bg-dark btn-block text-light" (click)="listadoIniciar()">Ir a Listado</button>
        </div>
    </div>
    <hr>
    <!-- <p>{{formularioInstitucion|json}}</p> -->
</div>

