<h2>{{infoPagina.titulo}}</h2>
<p>{{infoPagina.info}}</p>

<!-- <p> > {{alumno|json}}</p> -->
<div *ngIf="alumno">
    sep
</div>
<div *ngIf="!alumno">
    Nop
</div>


<div class="cargandoPanel" *ngIf="cargaInfo.cargando">
    <div>
        <i class="bi bi-clock-fill"></i>
        <h4>{{cargaInfo.titulo}}</h4>
        <p>{{cargaInfo.detalle}}</p>
        <p>{{cargaInfo.cargando}}</p>
    </div>

    <!-- <p>{{alumno}}</p> -->
</div>

<div *ngIf="modo ==='EDITAR' || modo ==='CREAR'">
    
    <form class="mt-3 col-md-8 offset-md-2 formulario" [formGroup]="formularioAlumno">
        
        <div class="row">
            
            <div class="input-group col-12 col-md-6">
                <span class="input-group-text" id="basic-addon1">Apellido</span>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon1" formControlName="apellido" placeholder="Apellido">
            </div>
            <div class="input-group col-12 col-md-6">
                <span class="input-group-text" id="basic-addon2">Nombre</span>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon2" formControlName="nombre" placeholder="Nombre">
            </div>

            <div class="input-group col-6">
                <span class="input-group-text" id="basic-addon3">Dni</span>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"  formControlName="dni" placeholder="Dni">
            </div>
            <div class="input-group col-6">
                <span class="input-group-text" id="basic-addon4">Email</span>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon4"  formControlName="email" placeholder="Email">
            </div>
        </div>
        
        <hr>
        <div class="row">
            <div class="input-group col-6">
                <span class="input-group-text" id="basic-addon5">Curso</span>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon5" formControlName="curso" placeholder="Curso">
            </div>
            <div class="input-group col-6">
                <span class="input-group-text" id="basic-addon6">Colegio/Institucion</span>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon6" formControlName="institucion" placeholder="Curso">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="input-group">
                <span class="input-group-text">Comentarios</span>
                <textarea class="form-control" aria-label="Comentarios" formControlName="comentarios" placeholder="Comentarios"></textarea>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button *ngIf="(modo === 'EDITAR')" (click)="modificar()" class="btn bg-dark btn-block text-light">Modificar</button>
            <button *ngIf="(modo === 'CREAR')" (click)="guardar()" class="btn bg-dark btn-block text-light">Guardar</button>
        </div>
        
        
    </form>
</div>
<hr>
<!-- 
-->


<!-- Ver    = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =  
    <p>{{alumno|json}}</p>
    
    
<div *ngIf="modo ==='VER'">
    
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    {{alumno.nombre}} {{alumno.apellido}}
                </div>
                <div class="card-body">
                    
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            DNI: <h5>{{alumno.dni}}</h5>
                        </li>
                        <li class="list-group-item">
                            Email: <h5>{{alumno.email}}</h5>
                        </li>
                        <li class="list-group-item">
                            Institucion: <h5>{{alumno.institucion}}</h5>
                        </li>
                        <li class="list-group-item">
                            Curso: <h5>{{alumno.curso}}</h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
  </div>
  <hr>
  <p>{{alumno|json}}</p>

</div>





<div class="row">
    <hr>
    <div class="col-12">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <p>=> {{modo}}</p>
            <p>=> {{modo !== 'LISTAR'}}</p>
            <button *ngIf="(modo != 'LISTAR')" class="btn bg-dark btn-block text-light" (click)="listadoIniciar()">Ir a Listado</button>
        </div>
    </div>
    <hr>
</div>

-->
